$blue-dark: #3ab4fd;
$blue-light: #e2f3fb;
$gray-d-dark: #79919d;
$gray-d-light: #f1f5f6;
$gray-l-dark: #92a4b0;
$gray-l-light: #f0f5f6;
$fr-bg-color: #e2f2f1;
$fr-color: #76a9a1;
$border-color: #dde3e3;
$primary-text: #777b7c;
$secondry-text: #bbbcbe;
$white: #fff;
