@import "core";

html,
body {
  height:100%;
  margin:0;
  padding:0;
}
*,body{
  box-sizing: border-box;
  font-family: "Arial";
}

.container-table {
  .box {
    color: white;
    margin: 0 0 0 20px;
    padding: 15px 10px;
    min-height: 142px;
    h5, h4 {
      margin: 5px 0;
    }
    h5 {
      font-weight: normal;
    }
    .desc{
      font-size: 12px;
    }
  }
  .first-row {
    .second-col {
      .box{
        background-color: $blue-dark;
      }
    }
    .third-col {
      .box{
        background-color: $gray-d-dark;
      }
    }
    .fourth-col {
      .box {
        background-color: $gray-l-dark;
      }
    }
  }
  .second-row {
    background-color: $fr-bg-color;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color;
    color: $fr-color;

    .first-col{
      padding: 15px;
      h5 {
        margin: 0 5px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .third-row {

    .price-item {
      border-bottom: 1px solid $border-color;
    }
    .data-container {
      .data-item {
        text-align: center;
        position: relative;
        >li{
          border-bottom: 1px solid $border-color;
          min-height: 35px;
          font-size: 12px;
          font-weight: bold;

          >span{
            display: block;
            padding: 10px;
            i{
              font-size: 12px;
            }
          }
          &:last-of-type{
            border-bottom: none;
          }
        }
        &:before{
          content: 'a ';
          position: absolute;
          width: calc(100% - 20px);
          display: block;
          top: 0;
          left: 20px;
          height: 100%;
          color: transparent;
          z-index: -1;
        }
      }
      >li {
        &:first-of-type{
          .data-item{
            color: $primary-text;
            font-size: 12px;
            font-weight: bold;
            text-align: left;
          }
        }
        &:nth-of-type(2){
          .data-item:before{
            background-color: $blue-light;
          }
        }
        &:nth-of-type(3){
          .data-item:before{
            background-color: $gray-d-light;
          }
        }
        &:nth-of-type(4){
          .data-item:before{
            background-color: $gray-l-light;
            //width: 100%;
          }
        }
      }
    }


  }
}

/** new changes **/


.price-item {
  .box-2 {
    padding: 8px;
    &>h4 {
      margin: 0;
    }
  }
}
ul.inner-list{

  border-bottom: 1px solid #dde3e3;
  display: block;
  float: left;
  height:100%;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    i{
      font-size: 12px;
    }

  }

  li:first-child{
    margin: 0;
    width: 25%;
    color: #777b7c;

    > span {
      text-align: left;
    }

  }
  li:nth-child(3) {

    span {
      background-color:#f1f5f6;
    }
  }
  li:nth-child(2){
    span{
      background-color: #e2f3fb;
    }
  }

  li:last-child{
    span {
      background-color: #f0f5f6;
    }
  }
}
ul.inner-list:last-child {
  border: none;
}
ul.inner-list > li {
  height: 47px;
  display: inline-block;
  float: left;
  width: 23%;
  margin-left: 2%;
  font-weight: bold;
}

.price-item {
  .box-2 {
    padding: 8px;
    &>h4 {
      margin: 0;
    }
  }
}
ul.inner-list{

  border-bottom: 1px solid #dde3e3;
  display: block;
  float: left;
  height:100%;
  width: 100%;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 16px 0 0 0;
    font-size: 12px;
    i{
      font-size: 20px;
    }

  }

  li:first-child{
    margin: 0;
    width: 25%;
    color: #777b7c;

    > span {
      text-align: left;
    }

  }
  li:nth-child(3) {

    span {
      background-color:#f1f5f6;
    }
  }
  li:nth-child(2){
    span{
      background-color: #e2f3fb;
    }
  }

  li:last-child{
    span {
      background-color: #f0f5f6;
    }
  }
}
ul.inner-list:last-child {
  border: none;
}

.lg-hidden{
  display: none;
}

.red-icon{
  color: #cc3e6c;
}

.green-icon{
  color: #4bd1b2;
}
a{
 text-decoration: none;
}
.btn{
  font-size: 11px;
  padding: 10px 15px;
  background-color: #149cf5;
  color: #ffffff;
  text-transform: uppercase;
}
